.close h2 {
    color: darkslategray;
    position: relative;
    top: -0.5em;
    left: 1em;
    margin-bottom: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.close button {
    position: fixed;
    top: -1.3em;
    right: 1em;
    margin: 2em auto;
    background: #b1cec1;
    border: 0;
    border-radius: 50%;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #000;
    cursor: pointer;
    padding: 0.3em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow .15s, transform .15s;
    font-size: 1.5em;
}

.address {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -45%);
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: 1000px;
    height: 700px;
}



/* @media(max-width: 576px) {
    .reviews {
        width: 400px;
        height: 550px;
        background-position: bottom;
    }
}

@media(max-width: 480px) {
    .reviews {
        width: 350px;
        height: 500px;
        background-position: bottom;
    }
} */