.img {
    min-height: 56vh;
    width: 54%;
    margin: 0 auto;
}

.img img {
    width: 100%;
}

.img figcaption {
    text-align: center;
    font-size: 2.7em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslategray;
}