.wedding {
    height: 100.1vh;
    width: 85%;
    margin: 0 auto 3em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: darkslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}

.container {
    background-color: #b1cec1;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    margin: 0 auto;
    padding: 2em 2em 0 2em;
    box-shadow: #666;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(46, 74, 117, 0.55);
    -moz-box-shadow: 10px 10px 30px 0px rgba(46, 74, 117, 0.55);
    box-shadow: 10px 10px 30px 0px rgba(46, 74, 117, 0.55);
}

.photo img {
    width: 100%;
    height: 100vh;
    box-shadow: #666;
    -webkit-box-shadow: -10px 10px 30px 0px rgba(46, 74, 117, 0.55);
    -moz-box-shadow: -10px 10px 30px 0px rgba(46, 74, 117, 0.55);
    box-shadow: -10px 10px 30px 0px rgba(46, 74, 117, 0.55);
}

.form label {
    font-weight: bold;
    font-size: larger;
}

.group {
    display: flex;
    justify-content: space-around;
    height: 3em;
    width: 100%;
    margin: 0 auto;
}

.room {
    height: 3em;
}

.room input {
    margin-left: 18em;
    transform: scale(1.5);
}

.menuContainer {
    min-height: 8em;
}

.menuContainer label:first-child {
    margin-bottom: 1em;
    font-weight: bold;

}

.menu {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    margin-top: 1em;
}

.menu button {
    padding: 0.5em 1em;
    margin-right: 1em;
    font-size: 1.2em;
    font-family: cursive;
    background-color: rgb(156, 180, 167);
    border-radius: 15px;
    cursor: pointer;
}

.menu button button:active {
    background-color: rgb(177, 196, 185);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.guestContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr;
    margin-top: 1em;
    align-items: baseline;
}

.delete {
    width: 30%;
    height: 2.2em;

}

.delete button {
    background-color: transparent;
    font-size: 1.5em;
    border: none;
    color: rgb(90, 87, 87);
    cursor: pointer;
}

.guest {
    font-size: 1.5em;
    width: 96%;
    margin: 1em 1em 0 0;
    text-align: center;
    color: white;
    background-color: darkslategray;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: 0.5em;
    width: auto;
    color: white;
    border: 1px solid black;
    font-size: 1em;
    font-weight: 800;
    background-color: rgb(101, 157, 157);
    top: 1.5em;
    right: -1.5em;
}

.guest:hover .tooltip {
    visibility: visible;
}


.brunch {
    height: 3em;
    margin: 1em 0 0 0;
}

.brunch input {
    margin-left: 3em;
    transform: scale(1.5);
}

.comment,
.bso {
    height: 10em;
    display: flex;
    flex-direction: column;
}

.comment textarea,
.bso textarea {
    width: 100%;
    margin-top: 2em;
}

.button {
    display: flex;
    margin: 1em 0;
}

.button button,
.enabled {
    padding: 0.5em 1em;
    margin-right: 1em;
    font-size: 1.2em;
    font-family: cursive;
    background-color: rgb(156, 180, 167);
    border-radius: 15px;
    cursor: pointer;
}

.button button:active {
    background-color: rgb(177, 196, 185);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.disabled:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.disabled:disabled:active {
    background-color: #cccccc;
    box-shadow: none;
    transform: none;
}