.wedding {
    height: 100.1vh;
    width: 85%;
    margin: 0 auto 3em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: darkslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    background-color: #b1cec1;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 2em 2em 0 2em;
    box-shadow: #666;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(46, 74, 117, 0.55);
    -moz-box-shadow: 10px 10px 30px 0px rgba(46, 74, 117, 0.55);
    box-shadow: 10px 10px 30px 0px rgba(46, 74, 117, 0.55);
}

.photo img {
    width: 100%;
    height: 100vh;
    /* object-fit: cover; */
    box-shadow: #666;
    -webkit-box-shadow: -10px 10px 30px 0px rgba(46, 74, 117, 0.55);
    -moz-box-shadow: -10px 10px 30px 0px rgba(46, 74, 117, 0.55);
    box-shadow: -10px 10px 30px 0px rgba(46, 74, 117, 0.55);
}

.form label {
    font-weight: bold;
    font-size: larger;
}

.group {
    display: flex;
    justify-content: space-around;
    height: 4em;
    width: 100%;
    margin: 0 auto;
}

.room {
    height: 3em;
}

.room input {
    margin-left: 16em;
    transform: scale(1.5);
}

.menuContainer {
    min-height: 8em;
}

.menuContainer label:first-child {
    margin-bottom: 1em;
    font-weight: bold;

}

.menu {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    margin-top: 1em;
}

.menu button {
    padding: 0.5em 1em;
    margin-right: 1em;
    font-size: 1.2em;
    font-family: cursive;
    background-color: rgb(156, 180, 167);
    border-radius: 15px;
    cursor: pointer;
}

.menu button button:active {
    background-color: rgb(177, 196, 185);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.menu input {
    margin-top: 0.4em;
    width: 2em;
    height: 2em;
    font-size: large;
}

.menu img {
    width: 50%;
}

.menu figure {
    width: 100%;
    margin-left: 2em;
}

.brunch {
    height: 3em;
    margin: 1em 0 0 0;
}

.brunch input {
    margin-left: 3em;
    transform: scale(1.5);
}

.warning {
    border-width: medium;
    padding: 1em;
    border-radius: 6px;
    box-shadow: inset 3px 3px 3px tomato, inset -2px -2px 3px rgba(103, 38, 27), 2px 2px 10px rgba(103, 38, 27);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .9);
    text-align: center;
}

.terms input {
    margin-left: 15em;
    transform: scale(1.5);
}

.terms {
    margin-top: 2em;
}

.comment {
    height: 11em;
    display: flex;
    flex-direction: column;
}

.comment textarea {
    width: 100%;
    margin-top: 2em;
}

.button {
    display: flex;
    margin-top: 1em;
}

.button button {
    padding: 0.5em 1em;
    margin-right: 1em;
    font-size: 1.2em;
    font-family: cursive;
    background-color: rgb(156, 180, 167);
    border-radius: 15px;
    cursor: pointer;
}

.button button:active {
    background-color: rgb(177, 196, 185);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}