.footer {
    margin-top: auto;
    height: 150px;
}

.footer img {
    height: 150px;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin-right: 2em;
    margin-top: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    color: darkslategray;
}

@media (max-width: 1236px) {
    .footer {
        height: 110px;
    }

    .footer img {
        height: 110px;
    }
}

@media (max-width: 550px) {
    .footer {
        height: 100px;
    }

    .footer img {
        height: 100px;
    }

    .copyright {
        font-size: 1em;
    }
}

@media (max-width: 400px) {
    .footer {
        height: 80px;
    }

    .footer img {
        height: 80px;
    }

    .copyright {
        font-size: 0.8em;
    }
}